{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about-me.css' %}">
<div>
    <div class="container">
        <h1 class="page-title">ABOUT ME</h1>
    </div>
    <div class="background">
        <div class="container-fluid">
            <section class="about">
                <div class="main">
                    <img class="user" src="{% static 'img/author/my_finale.png' %}">
                    <div class="author">
                        <div class="author-name">
                            <h3>FRANZ MANRIQUE</h3>
                        </div>
                        <div class="author-description">
                            Graduate student of Bachelor of Science in Information Technology with specialization in Web
                            Applications.
                        </div>

                        <div class="qualifciation">
                            <header class="qualifciation-header">Skills and Qualifications</header>
                            <ul class="qualification-blt">
                                <li>✅ 4 Years experience in Web Development</li>
                                <li>✅ Proficient frontend development services</li>
                                <li>✅ Proactives for managerial tasks and leadership roles</li>
                                <li>✅ Familiarity and practiced backend development</li>
                                <li>✅ Progressive documentation of projects</li>
                                <li>✅ Creativeness for designing</li>
                                <li>✅ Actively supervising and managing projects</li>

                            </ul>
                        </div>
                        <br>
                        <div class="cv-btn">
                            <a href="{% static 'img/file/cv_MANRIQUE_latest.pdf' %}" class="cv-link"
                                target="_blank">Check my CV!</a>
                        </div>
                    </div>

                </div>
        </div>
        </section>
    </div>
</div>


<!-- <section>
    <div class="tools-div">

        <header class="stack-hdr">Tech Stack</header>
        <div class="stack-sect">

            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/html.svg'%}">
                <div class="tool-name">HTML</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/css.png'%}">
                <div class="tool-name">CSS</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/js.png'%}">
                <div class="tool-name">Javascript</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/python.png'%}">
                <div class="tool-name">Python</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/php.png'%}">
                <div class="tool-name">PHP</div>
            </div>

        </div>

        <header class="stack-hdr">Framework Stack</header>
        <div class="stack-sect">

            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/django.svg'%}">
                <div class="tool-name">Django</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/react.png'%}">
                <div class="tool-name">ReactJS</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/laravel.png'%}">
                <div class="tool-name">Laravel</div>
            </div>
        </div>

        <header class="stack-hdr">Database Stack</header>
        <div class="stack-sect">

            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/postgresql.png'%}">
                <div class="tool-name">PostgeSQL</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/mysql.svg'%}">
                <div class="tool-name">MySQL</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/phpmyadmin.png'%}">
                <div class="tool-name">MyAdmin</div>
            </div>
        </div>

        <header class="stack-hdr">Design Stack</header>
        <div class="stack-sect">

            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/google.webp'%}">
                <div class="tool-name">Google Workspace</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/figma.png'%}">
                <div class="tool-name">Figma</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/adobexd.png'%}">
                <div class="tool-name">Adobe XD</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/bootstrap.png'%}">
                <div class="tool-name">Bootstrap</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/tailwind.png'%}">
                <div class="tool-name">Tailwind</div>
            </div>
        </div>

        <header class="stack-hdr">Documentation Stack</header>
        <div class="stack-sect">

            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/vscode.png'%}">
                <div class="tool-name">VS Code</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/github.svg'%}">
                <div class="tool-name">Github</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/sublime.png'%}">
                <div class="tool-name">Sublime</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/notion.png'%}">
                <div class="tool-name">Notion</div>
            </div>
            <div class="stack-tools">
                <img class="tool-img" src="{%static 'img/tools/notepad++.png'%}">
                <div class="tool-name">Notepad++</div>
            </div>
        </div>

    </div>

</section> -->


<!-- WORK EXPERIENCE -->

<div class="container">
    <h1 class="page-title">Work Experience</h1>
</div>

<div class="container-fluid">
    <section class="work-container">
        <div class="work-main">
            <img class="caap-logo" src="{%static 'img/author/caap_logo.png'%}">
            <div class="work-desc">
                <header class="desc-head">Civil Aviation Authority of the Philippines</header>
                <p class="desc-job">Computer Programmer/IT Technical Support</p>
                <p class="job-year">August 2023 - Present</p>
            </div>
        </div>
    </section>
</div>


<!-- EDUCATION BACKGROUND -->
<div class="container">
    <h1 class="page-title">Educational Background</h1>
</div>

<div class="container">
    <section class="myschool">
        <div class="school-details">
            <div class="academics">
                <p class="school-name">Manuel S. Enverga University Foundation</p>
                <p class="course">
                    Bachelor of Science in Information Technology
                    <br>
                    <span style="font-style: italic; font-size: 1.2rem;">Specialization in Web and Mobile
                        Application</span>
                </p>
                <p class="year">2019-2023</p>
                <div class="school-website">
                    <p class="link-desc">Visit the official MSEUF Website</p>
                    <div class="button-container-school">
                        <a href="https://mseuf.edu.ph"><button class="button">Visit!</button></a>
                    </div>
                </div>
            </div>

            <img class="logo" src="{%static 'img/author/mseuf-logo.png'%}">

        </div>

    </section>
</div>

<!-- Curriculum Vitae Download section -->


<section class="add-info">
    <div class="info-title">Here's My <span>Contact</span> Information</div>
    <div class="info-main">
        <div class="info-details">
            <div class="contact">franzmanrique2121@gmail.com</div>
        </div>
        <br>
        <div class="info-details">
            <div class="contact">+63 916 630 2417 (GLOBE)</div>
        </div>
    </div>

</section>

</div>
{% endblock content %}