{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <title>My Portfolio</title>
</head>
<style>
    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ee5007; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5d12; 
}
</style>
<nav id="navbar">
    <div class="wrapper">
        <div class="logo"><a href="#">My Portfolio</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="/">Home</a></li>
            <li><a href="/commission">Commission</a></li>
            <!-- <li><a href="ojt.html">OJT Experience</a></li> -->
            <li>
                <a href="#" class="desktop-item">Projects</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Projects</label>
                <ul class="drop-menu">
                    <li><a href="programming.html">Programming</a></li>
                    <li><a href="elf-category.html">Art</a></li>

                </ul>
            </li>
            <li><a href="/aboutus">About Me</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>

<body>

    {% block content %}
    {% endblock content %}

</body>

<footer>
    <p>Hey! Connect with me!</p>
    <p>@lafranzz | @franzmanriquePH</p>
    <div class="social">
        <a href="https://www.facebook.com/parizz.franz"><i class='bx bxl-facebook-circle bx-md'></i></a>
        <a href="https://www.instagram.com/lafranzz/?hl=en"><i class='bx bxl-instagram-alt bx-md' ></i></a>
        <a href="https://github.com/Ars3nicc"><i class='bx bxl-github bx-md' ></i></a>
        <a href="https://www.linkedin.com/in/franz-ronin-manrique-4b7612242/"><i class='bx bxl-linkedin-square bx-md' ></i></a>

    </div>
    <p class="end">All Rights Reserved 2023</p>
    <div class="custom-shape-divider-bottom-1662909873">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"></path>
        </svg>
    </div>
</footer>

</html>